@font-face {
    font-family: "Poppins", sans-serif !important;
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif !important;
    src: url("../fonts/Poppins/Poppins-BlackItalic.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif !important;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif !important;
    src: url("../fonts/Poppins/Poppins-BoldItalic.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif !important;
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif !important;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}